{% extends "base.html" %}

{% block contenido_cambia %}

    <br><hr>


    <form action="{% url 'AppCoderBuscarBlog' %}">
        {{ form_busqueda.as_p }}
        <input type = "submit" value = "Buscar">
    </form>

    <hr><br>
    <a href ="{% url 'AppCoderCrearBlog' %}">
        <button>Crear un nuevo blog</button></a>
    <hr><br>


    {% if blogs %}
        {% for blog in blogs %}
            <p>Título: {{ blog.titulo }}</p>
            <p>Subtítulo: {{blog.subtitulo}} </p>
            <p>Autor: {{blog.autor}} </p>
            <p>Fecha: {{blog.fecha}} </p>
            <a href = "{% url 'AppCoderEditarBlog' blog.titulo %}">
                <button>Editar</button></a>
            <a href = "{% url 'AppCoderEliminarBlog' blog.titulo %}">
                <button>Eliminar</button></a>
            <a href="{% url 'AppCoderLeerMas' blog.pk %}">
                <button>Leer más</button></a>
            <hr><br>

        {% endfor %}
    {% else %}
        <h4>No hay blogs por el momento</h4>
    {% endif %}


     <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-4">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Sección Blogs</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->

                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}