{% extends "base.html" %}

{% block contenido_cambia %}


    <form action = "{% url 'AppCoderClientes' %}" method = "post">{% csrf_token %}
        {{form.as_p}}
        <input type = "submit" value = "Enviar">
    </form>
    <br><hr>
    <form action="{% url 'AppCoderBuscarCliente' %}">
        {{ form_busqueda.as_p }}
    <input type = "submit" value = "Buscar">
    </form>

    <br><hr>

    {% if clientes %}
        {% for cliente in clientes %}
            <p>nombre: {{ cliente.nombre }}</p>
            <p>apellido: {{cliente.apellido}} </p>
            <p>email: {{cliente.email}} </p>

        {% endfor %}
    {% else %}
        <h4>No hay clientes registrados por el momento</h4>
    {% endif %}

     <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-4">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Sección Clientes</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->

                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}