{% extends "base.html" %}

{% block contenido_cambia %}

    <h2>{{ blog.titulo }}</h2>
    <h5>{{ blog.subtitulo }}</h5>
    <h6>Autor: {{ blog.autor }}</h6>
    <p>{{ blog.cuerpo }}</p>
    <img src ="{{ blog.imagen.url }}" alt="Imagen" height="400 px">

    <h2>Comentarios</h2>
    {% if comentario %}
        {% for comentarios in comentario %}
            <p>{{ comentarios.autor }}</p>
            <p>{{comentarios.texto}} </p>
            <form method="POST" action="{% url 'AppCoderEliminarComentario' comentarios.id %}">
                {% csrf_token %}
                <input type="submit" value="Eliminar comentario">
            </form>
            <hr><br>

        {% endfor %}
    {% else %}
        <h4>No hay comentarios por el momento</h4>
    {% endif %}

    <h3>Agregar un comentario</h3>
    <form method="POST" class="comentario-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="blog_id" value="{{ blog.id }}">
        <button type="submit" class="btn btn-primary">Enviar comentario</button>
    </form>


     <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-4">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Sección Clientes</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->

                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}